html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: #FFFCF2;
}

* {
  box-sizing: border-box;
}

a {
  color: #121113;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color:#EB5E28 ;
}

img {
  max-width: 100%;
  display: block;
  margin: auto;
  box-shadow: 1px 1px 8px #E4E6C3;
}